<h1>HW1</h1>
<ol>
    <li>Questions from <a href="https://juliaacademy.com/">Juliaacademy</a></li>
    <li>One extra question</li>
</ol>

### Getting started

#### 1.1 
Look up docs for the `convert` function.

In [1]:
?convert

search: convert ConcurrencyViolationError code_native @code_native

  convert(T, x)

  Convert x to a value of type T.

  If T is an Integer type, an InexactError will be raised if x is not
  representable by T, for example if x is not integer-valued, or is outside
  the range supported by T.

  Examples
  ≡≡≡≡≡≡≡≡≡≡

  julia> convert(Int, 3.0)
  3

  julia> convert(Int, 3.5)
  ERROR: InexactError: Int64(3.5)
  Stacktrace:
  [...]

  If T is a AbstractFloat type, then it will return the closest value to x
  representable by T.

  julia> x = 1/3
  0.3333333333333333

  julia> convert(Float32, x)
  0.33333334f0

  julia> convert(BigFloat, x)
  0.333333333333333314829616256247390992939472198486328125

  If T is a collection type and x a collection, the result of convert(T, x)
  may alias all or part of x.

  julia> x = Int[1, 2, 3];

  julia> y = convert(Vector{Int}, x);

  julia> y === x
  true

  See also: round, trunc, oftype, reinterpret.

#### 1.2 
Assign `365` to a variable named `days`. Convert `days` to a float and assign it to variable `days_float`

In [2]:
days=365
days_float=convert(BigFloat,days)

365.0

In [3]:
@assert days == 365
@assert days_float == 365.0

#### 1.3 
See what happens when you execute

```julia
convert(Int64, "1")
```
and

```julia
parse(Int64, "1")
```

In [4]:
convert(Int64, "1")

LoadError: MethodError: Cannot `convert` an object of type String to an object of type Int64
Closest candidates are:
  convert(::Type{T}, ::T) where T<:Number at number.jl:6
  convert(::Type{T}, ::Number) where T<:Number at number.jl:7
  convert(::Type{T}, ::Base.TwicePrecision) where T<:Number at twiceprecision.jl:273
  ...

In [5]:
parse(Int64, "1")

1

### Strings

#### 2.1 
Create a string that says "hi" 1000 times, first with `repeat` and then with the exponentiation operator, which can call `*` under the hood. Assign it the variable `hi` below.

In [6]:
hi=repeat("hi",1000)

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi" ⋯ 1460 bytes ⋯ "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [7]:
hi="hi"^1000

"hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi" ⋯ 1460 bytes ⋯ "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

In [8]:
@assert hi == "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

#### 2.2 
Declare two variables

```julia
a = 3
b = 4
```
and use them to create two strings:
```julia
"3 + 4"
"7" 
```
and store the results in `c` and `d` respectively

In [9]:
a = 3
b = 4
c="$a + $b"
d="$(a+b)"

"7"

In [10]:
@assert c == "3 + 4"
@assert d == "7"

### Data stuctures

#### 3.1 
Create an array, `a_ray`, with the following code:

```julia
a_ray = [1, 2, 3]
```

Add the number `4` to the end of this array and then remove it.

In [11]:
a_ray = [1, 2, 3]
push!(a_ray,4)
pop!(a_ray)

4

In [12]:
@assert a_ray == [1, 2, 3]

#### 3.2 
Define 'myphonebook' using the follwing code
```julia
myphonebook = Dict("Jenny" => "867-5309", "Ghostbusters" => "555-2368")
```
Try to add "Emergency" as key to `myphonebook` with the value `string(911)` with the following code
```julia
myphonebook["Emergency"] = 911
```

Why doesn't this work?

In [13]:
myphonebook = Dict("Jenny" => "867-5309", "Ghostbusters" => "555-2368")

Dict{String, String} with 2 entries:
  "Jenny"        => "867-5309"
  "Ghostbusters" => "555-2368"

In [14]:
myphonebook["Emergency"] = string(911)

"911"

In [15]:
myphonebook

Dict{String, String} with 3 entries:
  "Jenny"        => "867-5309"
  "Emergency"    => "911"
  "Ghostbusters" => "555-2368"

In [16]:
#Need to use a string not an integer, the dictionary was initaiated with only strings

#### 3.3 
Create a new dictionary called `flexible_phonebook` that has Jenny's number stored as an integer and Ghostbusters' number stored as a string with the following code

```julia
flexible_phonebook = Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")
```

In [17]:
flexible_phonebook = Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")

Dict{String, Any} with 2 entries:
  "Jenny"        => 8675309
  "Ghostbusters" => "555-2368"

In [18]:
@assert flexible_phonebook == Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")

#### 3.4 
Add the key "Emergency" with the value `911` (an integer) to `flexible_phonebook`.

In [19]:
flexible_phonebook["Emergency"] = 911

911

In [20]:
@assert haskey(flexible_phonebook, "Emergency")

In [21]:
@assert flexible_phonebook["Emergency"] == 911

#### 3.5 
Why can we add an integer as a value to `flexible_phonebook` but not `myphonebook`? How could we have initialized `myphonebook` so that it would accept integers as values? (hint: try using [Julia's documentation for dictionaries](https://docs.julialang.org/en/v1/base/collections/#Dictionaries))

In [22]:
#If we started with multiple data types we initiaalize the dictionary to multiple data types
#We could initialize with dict{data types}() to allow the dictionary to use other data types

### Loops

#### 4.1 
Loop over integers between 1 and 100 and print their squares.

In [23]:
for i=1:100
   print(i^2) 
end

1491625364964811001211441691962252562893243614004414845295766256767297848419009611024108911561225129613691444152116001681176418491936202521162209230424012500260127042809291630253136324933643481360037213844396940964225435644894624476149005041518453295476562557765929608462416400656167246889705672257396756977447921810082818464864988369025921694099604980110000

#### 4.2 
Add to the code above a bit to create a dictionary, `squares` that holds integers and their squares as key, value pairs such that

```julia
squares[10] == 100
```

In [24]:

for i=1:100
    squares[i]=i^2

   print(i^2) 
end

LoadError: UndefVarError: squares not defined

In [25]:
@assert squares[10] == 100
@assert squares[11] == 121

LoadError: UndefVarError: squares not defined

#### 4.3 
Use an array comprehension to create an an array `squares_arr` that stores the squares for all integers between 1 and 100.

In [26]:
squares_arr=Array{Int64}(undef, 100)
for i=1:100
    squares_arr[i]=i^2 
    print(i^2) 
end

1491625364964811001211441691962252562893243614004414845295766256767297848419009611024108911561225129613691444152116001681176418491936202521162209230424012500260127042809291630253136324933643481360037213844396940964225435644894624476149005041518453295476562557765929608462416400656167246889705672257396756977447921810082818464864988369025921694099604980110000

In [27]:
@assert length(squares_arr) == 100
@assert sum(squares_arr) == 338350

### Conditionals

#### 5.1 
Write a conditional statement that prints a number if the number is even and the string "odd" if the number is odd.

In [28]:
num=1
if iseven(num)
    print(num)
elseif isodd(num)
    print("odd")
end

odd

#### 5.2 
Rewrite the code from 5.1 using a ternary operator.

In [29]:
num=4
iseven(num) ? print(num) : print("odd")

4

### Functions

#### 6.1 
Write a function `add_one` that adds 1 to its input.

In [30]:
function add_one(x)
        return x+1
end

add_one (generic function with 1 method)

In [31]:
@assert add_one(1) == 2

In [32]:
@assert add_one(11) == 12

#### 6.2 
Use `map` or `broadcast` to increment every element of matrix `A` by `1` and assign it to a variable `A1`.

In [33]:
A = [i+3*j for j in 0:2, i in 1:3]
A1= map(x -> x+1, A)

3×3 Matrix{Int64}:
 2  3   4
 5  6   7
 8  9  10

In [34]:
@assert A1 == [2 3 4; 5 6 7; 8 9 10]

#### 6.3 
Use the broadcast dot syntax to increment every element of matrix `A1` by `1` and store it in variable `A2`

In [35]:
A2 = add_one.(A1)

3×3 Matrix{Int64}:
 3   4   5
 6   7   8
 9  10  11

In [36]:
@assert A2 == [3 4 5; 6 7 8; 9 10 11]

### Packages

#### 7.1 
Load the Primes package (source code at https://github.com/JuliaMath/Primes.jl ).

In [37]:
using Pkg
Pkg.add("Primes")
using Primes

    Updating registry at `C:\Users\Tim\.julia\registries\General.toml`
   Resolving package versions...
  No Changes to `C:\Users\Tim\.julia\environments\v1.8\Project.toml`
  No Changes to `C:\Users\Tim\.julia\environments\v1.8\Manifest.toml`

In [38]:
@assert @isdefined Primes

#### 7.2 
Verify that you can now use the function `primes` to grab all prime numbers under 1,000,000 and store it in variable `primes_list`

In [39]:
primes_list=primes(1000000)

78498-element Vector{Int64}:
      2
      3
      5
      7
     11
     13
     17
     19
     23
     29
     31
     37
     41
      ⋮
 999809
 999853
 999863
 999883
 999907
 999917
 999931
 999953
 999959
 999961
 999979
 999983

In [40]:
@assert primes_list == primes(1000000)

### Plotting

#### 8.1 
Given
```julia
x = -10:10
```
plot y vs. x for $y = x^2$.  You may want to change backends back again.

In [41]:
x = -10:10
y = x.^2
plot(x,y)

LoadError: UndefVarError: plot not defined

#### 8.2 
Execute the following code

In [42]:
p1 = plot(x, x)
p2 = plot(x, x.^2)
p3 = plot(x, x.^3)
p4 = plot(x, x.^4)
plot(p1, p2, p3, p4, layout = (2, 2), legend = false)

LoadError: UndefVarError: plot not defined

and then create a $4x1$ plot that uses `p1`, `p2`, `p3`, and `p4` as subplots.

In [43]:
plot(p1, p2, p3, p4, layout = (4,1), legend = false)

LoadError: UndefVarError: plot not defined

### Extra Exercise
Write a function that will output a Fibonacci Sequence with a length of N
```
Function name: fibonacciN
```
```
Input: N::Int32
```
```
Output: a N-element vector that stores a Fibonacci Sequence
```
```
Example: fibonacciN(50) => [0, 1, …., 7778742049]
```

In the Fibonacci Sequence, the first two numbers are 0 and 1 and every number thereafter is the sum of the previous two numbers in the sequence
For this question, consider 0 to be the 1st Fibonacci Number, not the 0th (i.e. do not zero-index)

In [44]:
function fibonacciN(N)
    seq=Array{Int64}(undef, N)
    for i=1:N
        
        i==1 ? seq[i]=0 : 
        i==2 ? seq[i]=1 : 
        seq[i]=seq[i-1]+seq[i-2]
        
    end
    return seq
end

fibonacciN (generic function with 1 method)